.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
	}
	// .tabs__title
	&__title {
		border: 2px solid #FFFFFF;
		padding: rem(10) rem(24);
		border-top-left-radius: 75px;
		border-top-right-radius: 75px;

		font-family: Compov2Light;
		font-size: 24px;
		line-height: 100%;
		color: #FFFFFF;
		
		&._tab-active {
			border: 2px solid #FFFFFF;
			background: #FFFFFF;
			color: #210052;
		}

		outline: none;
		transition: all 0.4s ease-in;

		&:focus-visible,
		&:active {
			box-shadow: rgba(116, 218, 6, 0.16) 0px 1px 4px, rgb(116, 218, 6) 0px 0px 0px 3px;
		}

		@media (max-width:$mobileSmall){
			padding: rem(10) rem(18);
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;  

			font-size: 18px;
		}
	}
	// .tabs__content
	&__content {
		border: 1px solid #eee;
		padding: rem(10) rem(15);
		background: #FFFFFF;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;

		font-family: 'EuropeCondensedC';
		color: #210052;
		font-size: 24px;
		line-height: 30px;
	}
	// .tabs__body
	&__body {
		padding: 28px 20px 36px 20px;

		@media (max-width:$mobileSmall){
			padding: 28px 10px 26px 10px;  
		}
	}
}
