.side-bar {
   padding: 36px 10px 30px 30px;
   background: #210052;
   box-shadow: 0px 4px 8px #13002F;

   @media (max-width: $tablet){
      position: fixed;
      top: 90px;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 8888;
   }
}

.logo {
   margin-bottom: 78px;

		&__linck {
		}
}

.back-linck {
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   color: rgba(255, 255, 255, 0.4);

   display: flex;
   align-items: center;
   gap: 17px;
   margin-bottom: 62px;
   transition: all 0.4s ease-in;

   svg {
      fill: #FFFFFF;
      fill-opacity: 0.4;
      transition: all 0.4s ease-in;
   }

   &:hover {
      color: rgba(255, 255, 255, 1);

      svg {
         fill-opacity: 1;
      }
   }
}


.nav {



		&__item {
         margin-bottom: 22px;

         &_delimiter {
            padding-bottom: 32px;
            position: relative;

            &::before {
               position: absolute;
               content: '';
               left: 0;
               bottom: 0;
               background: #FFFFFF;
               width: 80%;
               height: 1px;
            }
         }
		}

		// .nav__linck

		&__linck {
         display: flex;
         align-items: center;
         gap: 17px;
         padding: 4px 0;

         font-weight: 400;
         font-size: 18px;
         line-height: 22px;
         transition: all 0.4s ease-in;
         position: relative;

         svg {
            width: 24px;
            height: 24px;
            fill: #FFFFFF;
            transition: all 0.4s ease-in;
         }

         &:hover {
            cursor: pointer;
            color: #74DA06;
         }

         &:hover svg{
            fill: #74DA06;
         }

         &:active,
         &:focus,
         &:focus-visible {
            color: #74DA06;
            outline: none;
            box-shadow: #74da06c6 0px 0px 0px 3px;
            border-radius: 4px;

            svg{
               fill: #74DA06;
            }
         }

         &_label {
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: #74DA06;
            color:#FFFFFF;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            padding-top: 2.5px;

            position: absolute;
            left: 10px;
            top: -4px;
         }
		}
}
