//====================================================================================================
.partners {
   padding-top: 35px;
   margin-bottom: 28px;

   // .partners__container
   &__container {
   }

   // .partners__info
   &__info {
      display: flex;
      gap: 26px;

      @media (max-width: 1200px){
           flex-wrap: wrap;
      }
   }
}

.info-bord {
   color: #210052;
   margin-bottom: 38px;

   .history__title {
      margin-right: 13px;
   }

   // .info-bord__left
   &__left {
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
      max-width: 660px;

      @media (max-width: 1200px){
         max-width: unset;
      }

      @media (max-width: 670px){
         gap: 26px;
      }
   }

   // .info-bord__item
   &__item {
      background: #FFFFFF;
      border-radius: 8px;
      padding: 18px 35px 18px 37px;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         width: 9px;
         border-top-left-radius: 8px;
         border-bottom-left-radius: 8px;
      }

      &_table {
         flex: 1 1 100%;
         padding: 18px 14px 18px 24px;

         .history {
            padding: 0;
         }
      }

      &_purple {
         flex: 1 1 calc(50% - 35px);

         &::before {
            background:#873BFF;
         }

         @media (max-width: 670px){
            flex: 1 1 100%;
         }
      }

      &_green {
         flex: 1 1 calc(50% - 35px);

         &::before {
            background:#74DA06;
         }

         @media (max-width: 670px){
            flex: 1 1 100%;
         }
      }

      &_pinck {
         flex: 1 1 303px;

         &::before {
            background:#EE80B1;
         }
      }

      &_turquoise {
         flex: 1 1 303px;

         &::before {
            background:#2E9CB5;
         }
      }
   }

   // .info-bord__icon
   &__icon {
      position: absolute;
      right: 35px;
   }

   &__btn {
      background: #2E9CB5;
      border-radius: 8px;
      padding: 6px 30px;

      font-family: Compov2Light;
      font-size: 20px;
      color: #FFFFFF;
      text-transform: uppercase;
      outline: none;
      transition: all 0.4s ease-in;

      &:focus,
      &:focus-visible,
      &:active {
         box-shadow: rgba(69, 16, 148, 0.16) 0px 1px 4px, rgb(69, 16, 148) 0px 0px 0px 3px;
      }
   }

   // .info-bord__row
   &__row {
      margin-bottom: 10px;
   }

   &__row:last-child {
      margin-bottom: 0;
   }

   // .info-bord__row-title
   &__row-title {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 6px;
   }

   // .info-bord__row-text
   &__row-text {
      font-family: Compov2Light;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 100%;
      text-transform: uppercase;
   }

   // .info-bord__history
   &__history {

      .table {
         @media (max-width: 670px) {
            min-width: 250px;
         }
      }
   }

   .history__header {
      
      @media (max-width: 670px){
         flex-wrap: wrap;
         gap: 20px;
      }
   }

   // .info-bord__filters
   &__filters {
      display: flex;
      align-items: center;
      gap: 13px;
      color: #FFFFFF;

      @media (max-width: 620px){
         flex-wrap: wrap;
      }
   }

   // .info-bord__right
   &__right {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;

      @media (max-width: 1200px){
         width: 100%;
         align-items: flex-start;
      }

      @media (max-width: 670px){
         gap: 26px;
      }
   }
}

.filter__apply {
   font-family: Compov2Light;
   font-size: 20px;
   line-height: 100%;
   text-transform: uppercase;
   background: #74DA06;
   border-radius: 8px;
   padding: 6px 24px;
   outline: none;
   transition: all 0.4s ease-in;

   &:focus,
   &:focus-visible,
   &:active {
      box-shadow: rgba(69, 16, 148, 0.16) 0px 1px 4px, rgb(69, 16, 148) 0px 0px 0px 3px;
   }
}

.datepicker {
   display: flex;
   gap: 5px;

   .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
      background: #74DA06;
   }

   .range-end {
      background: #873BFF;
   }

  .qs-active, .qs-range-start, .qs-range-end {
      background: #873BFF;
   }

   @media (max-width: 640px){
        flex: 1 1 100%;
   }

   @media (max-width: 364px){
        flex-direction: column;
   }
}

.date-input {
   position: relative;
   font-family: Compov2Light;
   font-size: 20px;
   line-height: 100%;

   label {
      background: #74DA06;
      border-radius: 8px;
      text-transform: uppercase;
      padding: 6px 12px;

      position: absolute;
      top: 0;
      left: 0;
   }

   input {
      width: 100%;
      max-width: 146px;
      border: 1px solid #74DA06;
      border-radius: 8px;
      padding: 3px 7px 3px 56px;
      text-transform: uppercase;

      outline: none;
      transition: all 0.4s ease-in;
   
      &:focus,
      &:focus-visible,
      &:active {
         box-shadow: rgba(69, 16, 148, 0.16) 0px 1px 4px, rgb(69, 16, 148) 0px 0px 0px 3px;
      }
   }
}

.turnover-select {
   flex: 1 1 195px;
   position: relative;

   display: flex;
   flex-direction: row-reverse;

   @media (max-width: 620px){
      flex: unset;
   }

   label {
      font-family: Compov2Light;
      font-size: 20px;
      line-height: 100%;
      color: rgba(69, 16, 148, 0.26);

      padding: 6px 30px 6px 12px;
      border: 1px solid #74DA06;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      margin-left: -4px;
   }

   .select {
      margin-right: 0;
   }

   .select__title {
      padding: 5px 10px 5px 7px;
      border-radius: 8px;
      background-color: #74DA06;
   }

   .select__value {
      padding: 0;
      width: 76px;
   }

   .select__options {
      background-color: #74DA06;
   }
}
//====================================================================================================

//====================================================================================================

.bonuses {
   display: flex;
   gap: 26px;

   @media (max-width:$mobile){
       flex-wrap: wrap;
   }

   // .bonuses__table
   &__table {
      flex: 1 1 660px;
      padding: 16px 0px 32px 0px;
      background: #210052;
      border-radius: 8px;
      

      h3 {
         font-size: 24px;
         line-height: 30px;
         padding-left: 24px;
         margin-bottom: 15px;
      }

      table {
         width: 100%;
         caption-side: bottom;
         border-collapse: collapse;
      }

      thead {
         vertical-align: middle;
         background: #74DA06;
         text-align: left;
      }

      tbody {
         vertical-align: inherit;

         th, td {
            vertical-align: middle;
         }
      }

      th {
         font-size: 14px;
         line-height: 17px;
         color: #210052;
         padding: 13px 30px 15px 30px;

         @media (max-width:$mobileSmall){
            padding: 13px 10px 15px 10px;
         }
      }

      td {
         font-family: Compov2Light;
         font-style: normal;
         font-weight: 300;
         font-size: 20px;
         line-height: 100%;
         text-transform: uppercase;
         padding: 13px 0px 13px 30px;

         @media (max-width:$mobileSmall){
            padding: 13px 10px 13px 10px;  
         }
      }
   }

   // .bonuses__info
   &__info {
      flex: 1 1 303px;
      padding: 9px 18px 32px 18px;
      background: #210052;
      border-radius: 8px;
   }

   // .bonuses__switches
   &__switches {
      margin-bottom: 31px;
   }

   // .bonuses__title
   &__title {
      padding: 6px 13px;
      background: #FFFFFF;
      border-radius: 8px;

      font-family: Compov2Light;
      color: #74DA06;
      font-size: 24px;
      line-height: 100%;
      outline: none;
      transition: all 0.4s ease-in;
      margin-bottom: 8px;

      &._tabOpen {
         color: #FFFFFF;
         background: #74DA06;
      }

      &:focus-visible,
		&:active {
			box-shadow: rgba(116, 218, 6, 0.16) 0px 1px 4px, rgb(116, 218, 6) 0px 0px 0px 3px;
		}
   }

   // .bonuses__desc
   &__desc {
      display: none;
   }
}


.bonus-desc {

   // .bonus-desc__block
   &__block {
      margin-bottom: 31px;
   }

   // .bonus-desc__title
   &__title {
      font-family: Compov2Light;
      font-size: 24px;
      line-height: 100%;
      text-transform: uppercase;
      margin-bottom: 9px;
   }

   // .bonus-desc__text
   &__text {
      font-size: 20px;
      line-height: 117%;
   }

   // .bonus-desc__list
   &__list {
      font-size: 20px;
      line-height: 117%;

      li {
         list-style-type: disc;
         list-style: inside;
      }
   }
}
//====================================================================================================