// Заголовки, загальні БЕМ блоки та інше...

//Scroll bar====================================================================================================

/* Для WebKit-браузеров (Chrome, Safari, Opera) */
::-webkit-scrollbar {
   width: 8px;
 }
 
 ::-webkit-scrollbar-track {
   background: #210052;
   border-radius: 4px;
 }
 
 ::-webkit-scrollbar-thumb {
   background: #74DA06;
   border-radius: 4px;
;
 }
 
 /* Для Firefox */
 ::-moz-scrollbar {
   width: 8px;
 }
 
 ::-moz-scrollbar-track {
   background: #210052;
   border-radius: 4px;
 }
 
 ::-moz-scrollbar-thumb {
   background: #74DA06;
   border-radius: 4px;
;
 }
 
 /* Для Internet Explorer и Edge */
 ::-ms-scrollbar {
   width: 8px;
 }
 
 ::-ms-scrollbar-track {
   background: #210052;
   border-radius: 4px;
 }
 
 ::-ms-scrollbar-thumb {
   background: #74DA06;
   border-radius: 4px;
 }

 .simplebar-horizontal .simplebar-scrollbar::before,
 .simplebar-vertical .simplebar-scrollbar::before {
   background-color: #74DA06;
 }

//====================================================================================================

//====================================================================================================
.header {
   grid-area: header;
}

.page {
   grid-area: main;
}


.side-bar {
   grid-area: aside;
}

.footer {
   grid-area: footer;
}

.tippy-box[data-theme~='tomato'] {
   background-color: tomato;
   color: yellow;
 }

 .page-title {
   font-family: Compov2Light;
   @include adaptiveValue("font-size", 32, 28);
   line-height: 100%;
   color: #FFFFFF;
   text-transform: uppercase;
   margin-bottom: 32px;
 }

 //====================================================================================================

//Payment system====================================================================================================
 .payment-system {
   margin-bottom: 35px;

   // .payment-system__title
   &__title {
      margin-bottom: 18px;
   }

   // .payment-system__switch
   &__switch {
      display: flex;
      @include adaptiveValue("gap", 56, 24, 0, 1360, 768);

      @media (max-width: 560px){
         flex-wrap: wrap;
      }
   }

   // .payment-system__item
   &__item {
      padding: 0px 0px 0px 45px;
      font-size: 16px;
      line-height: 30px;
      color:#b2b2b2;
      margin-bottom: 20px;
      position: relative;

      @media (max-width: 560px){
         flex-basis: calc(25% - 24px);
      }

	   cursor: pointer;
      transition: all 0.4s ease-in;

      ._check & {
         color: #000;
      }

      &._check::after {
         transform: scale(1);
      }

      &:before{
         content: '';
         width: 20px;
         height: 20px;
         position: absolute;
         top: 20px;
         left: 0;
         background-color: #fff;
         border-radius: 50%;
         -webkit-box-shadow: 0 0 3px rgba(116, 218, 6, 1);
         box-shadow: 0 0 3px rgba(116, 218, 6, 1);
         border: 1px solid #74DA06;
      }

      &:after{
         position: absolute;
         width: 12px;
         height: 12px;
         top: 24px;
         left: 4px;
         background-color: #74DA06;
         content: '';
         border-radius: 50%;
      
         transition: all 0.3s ease 0s;

         transform: scale(0);
      }

      input {
         display: none;
      }
   }

   // .payment-system__desc
   &__desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

   }

   // .payment-system__logo
   &__logo {
      width: 57px;
      height: 57px;
      border-radius: 50%;
      background: rgba(116, 218, 6, 0.38);
      margin-bottom: 6px;
      position: relative;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }

   // .payment-system__neme
   &__neme {
      font-size: 14px;
      line-height: 100.3%;
      text-align: center;
      text-transform: uppercase;
      color: #210052;
   }
}
//====================================================================================================

//Component input-control====================================================================================================
.input-control {
   position: relative;
   // .input-control__field
   &__field {
      width: 100%;
      padding: 7px 35px;
      border: 1px solid #74DA06;
      border-radius: 8px;

      font-family: 'EuropeCondensedC';
      font-size: 18px;
      line-height: 18px;
      outline: none;
      transition: all 0.4s ease-in;

      &:focus,
      &:focus-visible,
      &:active {
         box-shadow: rgba(69, 16, 148, 0.16) 0px 1px 4px, rgb(69, 16, 148) 0px 0px 0px 3px;
      }

      @media (max-width:$mobile){
         padding: 7px 12px; 
      }
   }

   // .input-control__btn
   &__btn {
      position: absolute;
      padding: 9px 35px;
      top: 0;
      right: 0;
      background: #74DA06;
      border-radius: 8px;
      font-family: Compov2Light;
      font-size: 20px;
      line-height: 100%;
      color: #FFFFFF;
      text-transform: uppercase;
      outline: none;
      transition: all 0.4s ease-in;

      &:hover {
         background: #451094;
      }

      &:focus,
      &:focus-visible,
      &:active {
         box-shadow: rgba(69, 16, 148, 0.16) 0px 1px 4px, rgb(69, 16, 148) 0px 0px 0px 3px;
      }

      @media (max-width:$mobile){
         padding: 9px 14px;   
      }
   }
}

.input-primary {
   width: 100%;
   padding: 7px 35px;
   border: 1px solid #74DA06;
   border-radius: 8px;

   font-family: 'EuropeCondensedC';
   font-size: 18px;
   line-height: 18px;
   outline: none;
   transition: all 0.4s ease-in;

   &:focus,
   &:focus-visible,
   &:active {
      box-shadow: rgba(69, 16, 148, 0.16) 0px 1px 4px, rgb(69, 16, 148) 0px 0px 0px 3px;
   }

   @media (max-width:$mobile){
      padding: 7px 12px; 
   }
}

//====================================================================================================

//History ====================================================================================================
.history {
   background: #FFFFFF;
   border-radius: 8px;
   padding: 18px 28px 30px 30px;

   // .history__header
   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 28px;
   }

   // .history__title
   &__title {
      font-size: 24px;
      line-height: 30px;
      color: #210052;
   }

   // .history__linck
   &__linck {
      font-family: Compov2Light;
      font-size: 24px;
      line-height: 100%;
      color: #74DA06;
      
      display: flex;
      align-items: center;
      gap: 6px;

      position: relative;

      svg {
         margin-top: 2px;
      }

      &::before {
         content: '';
         display: block;
         position: absolute;
         left: 2px;
         bottom: -2px;
         height: 2px;
         width: 0%;
         background: #74DA06;
         transition: all 0.4s ease-in;
      }

      &:hover {
         &::before {
            width: 100%;
         }
      }
   }

   // .history__body
   &__body {
      overflow-x: auto;
   }

   // .history__footer
   &__footer {
      @include adaptiveValue("margin-top", 58, 32, 0, 1360, 768);
   }
}
//====================================================================================================

//Table====================================================================================================
tbody, td, tfoot, th, thead, tr {
   border-color: inherit;
   border-style: solid;
   border-width: 0;
}

.table {
   width: 100%;
   min-width: 530px;
   font-size: 14px;
   line-height: 17px;
   color: #210052;
   text-align: left;
   vertical-align: top;
   caption-side: bottom;
   border-collapse: collapse;

   > tbody {
      vertical-align: inherit;
   }

   > thead {
      vertical-align: bottom;
      border-bottom: 1px solid rgba(33, 0, 82, .2);
   }

   th, td {
      font-size: 16px;
      line-height: 18px;
      font-style: normal;
      font-weight: 400;
      color: #210052;
      padding: 15px 15px 15px 0;
   }

   tbody {
      th, td {
         vertical-align: middle;
      }
   }

   button {
      font-family: Compov2Light;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 100%;
      color: #FFFFFF;

      padding: 6px 13px;
      background: #74DA06;
      border-radius: 8px;

      outline: none;
      transition: all 0.4s ease-in;

      &:hover {
         background: #451094;
      }

      &:focus,
      &:focus-visible,
      &:active {
         box-shadow: rgba(69, 16, 148, 0.16) 0px 1px 4px, rgb(69, 16, 148) 0px 0px 0px 3px;
      }
   }
}
//====================================================================================================

//Pagination====================================================================================================
.pagination {
   display: flex;
   justify-content: center;
   padding-left: 0;
   list-style: none;
   gap: 6px;

   @media (max-width:$mobileSmall){
      gap: 3px;
   }
}
.page-item {
   
}

.page-link {
   position: relative;
   display: block;
   padding: 6px 13px;

   font-family: Compov2Light;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 16px;
   color: #74DA06;

   border: 1px solid #74DA06;
   border-radius: 8px;
   background: transparent;
   outline: none;
   transition: all 0.4s ease-in;

   &:hover {
      background: #74DA06;
      color: #fff;
   }

   &:focus,
   &:focus-visible,
   &:active {
      box-shadow: rgba(69, 16, 148, 0.16) 0px 1px 4px, rgb(69, 16, 148) 0px 0px 0px 3px;
   }

   &_dots {
      border: 1px solid transparent;
   }
}
//====================================================================================================

//====================================================================================================
.btn-group {
   display: flex;
   align-items: center;
   gap: 12px;
   padding: 14px 18px;
   background: #210052;
   border-radius: 11px;
}
.btn {
   font-family: Compov2Light;
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   line-height: 100%;
   padding: 6px 13px;
   border-radius: 8px;
   outline: none;
   transition: all 0.4s ease-in;
}

.btn-white {
   color: #74DA06;
   background: #FFFFFF;

   &._active {
      color:#FFFFFF;
      background: #74DA06;
   }

   &:hover {
      background: #74DA06;
      color: #fff;
   }

   &:focus,
   &:focus-visible,
   &:active {
      box-shadow: rgba(116, 218, 6, 0.16) 0px 1px 4px, rgb(116, 218, 6) 0px 0px 0px 3px;
   }

}

.btn-green {
   color:#FFFFFF;
   background: #74DA06;


   &:hover,
   &._active {
      color: #74DA06;
      background: #FFFFFF;
   }

   &:focus,
   &:focus-visible,
   &:active {
      box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px;
   }
}

//====================================================================================================

//====================================================================================================
.input {
   width: 100%;
   background: #451094;
   border-radius: 11px;

   font-size: 14px;
   line-height: 17px;
   color: #FFFFFF;
   padding: 12px 20px;
   outline: none;
   transition: all 0.4s ease-in;

   &:focus,
   &:focus-visible,
   &:active {
      box-shadow: rgba(116, 218, 6, 0.16) 0px 1px 4px, rgb(116, 218, 6) 0px 0px 0px 3px;
   }
}

//====================================================================================================


//====================================================================================================
.chat {
   max-width: 640px;
   background: #451094;
   border: 3px solid #210052;
   border-radius: 25px;

   .popup__text {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 12px;

      @media (max-width:$mobileSmall){
          flex-wrap: wrap; 
      }
   }

   &__linck {
      font-family: Compov2Light;
      font-size: 24px;
      line-height: 24px;
      padding: 6px 13px;
      border: 1px solid #FFFFFF;
      border-radius: 8px;
      outline: none;
      transition: all 0.4s ease-in;

      &:hover {
         background: #FFFFFF;
         color: #451094;
      }
   }

   // .chat__contacts
   &__contacts {
      text-align: right;
      font-size: 20px;
      line-height: 126.52%;
      margin-bottom: 30px;

      @media (max-width:$mobileSmall){
         text-align: left;
      }
   }

   // .chat__window
   &__window {
      margin-bottom: 14px;
   }

   // .chat__dialogue
   &__dialogue {
      background: #210052;
      border-radius: 14px;
      padding: 24px 20px;
      height: 330px;
      overflow-y: scroll;
      position: relative;
   }

   // .chat__message
   &__message {
      display: flex;
      align-items: start;
      gap: 8px;
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 126.52%;

      // .chat__message_send
      &_send {
         padding-right: 14%;
         @media (max-width:$mobileSmall){
            padding-right: 10%;  
         }

         .chat__text,
         .chat__attached {
            background: #451094;
         }
      }

      // .chat__message_resive
      &_resive {
         flex-direction: row-reverse;
         padding-left: 14%;

         @media (max-width:$mobileSmall){
            padding-left: 10%;  
         }

         .chat__text,
         .chat__attached {
           background: #7544BD;
         }
      }
   }

   // .chat__avatar
   &__avatar {
      width: 28px;
      height: 28px;
      overflow: hidden;
      border-radius: 50%;
      flex-shrink: 0;

      img {
         width: 100%;
         height: auto;
      }
   }

   // .chat__text
   &__text {
      font-size: 20px;
      line-height: 126.52%;
      border-radius: 14px;
      padding: 10px 12px;
   }

   // .chat__attached
   &__attached {
      font-size: 20px;
      line-height: 126.52%;
      border-radius: 14px;
      padding: 10px 12px 10px 46px;
      position: relative;

      &::before {
         content: '';
         display: block;
         position: absolute;
         width: 24px;
         height: 24px;
         top: 10px;
         left: 12px;
         background: url(../img/icons/clip.svg) center center no-repeat;
         background-size: cover;
      }

   }

   // .chat__entry-field
   &__entry-field {
      position: relative;
      margin-top: -16px;
      
      textarea {
         color: #451094;
         font-size: 20px;
         line-height: 126.52%;
         background: #FFFFFF;
         border-radius: 14px; 
         width: 100%;
         height: 98px;
         
         padding: 14px 24px;
         resize: none;
         outline: none;
         transition: all 0.4s ease-in;

         &:focus,
         &:focus-visible,
         &:active {
            box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px;
         }

      }
   }

   // .chat__controls
   &__controls {
      text-align: right;
   }

   // .chat__close
   &__close {
      border-radius: 8px;
      border: 1px solid #FFFFFF;
      margin-right: 18px;

      &:hover {
         background: #FFFFFF;
         color: #451094;
      }

      &:focus,
      &:focus-visible,
      &:active {
         box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px;
      }
   }

   // .chat__btn-send
   &__btn-send {
   }
}

//====================================================================================================