// Заголовки, загальні БЕМ блоки та інше...

.header {
   grid-area: header;
}

.page {
   grid-area: main;
}


.side-bar {
   grid-area: aside;
}

.footer {
   grid-area: footer;
}

.tippy-box[data-theme~='tomato'] {
   background-color: tomato;
   color: yellow;
 }

 .page-title {
   font-family: Compov2Light;
   @include adaptiveValue("font-size", 32, 28);
   line-height: 100%;
   color: #FFFFFF;
   text-transform: uppercase;
   margin-bottom: 32px;
 }